<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
	<body>
		<h1>Write your name, age, and a message!</h1>
		<br>
		<form action="/" method="POST" style="max-width:500px;margin:auto">
		  <h2>Sell Your Soul!!!!!!</h2>
		  <div class="input-container">
		    <i class="fa fa-user icon"></i>
		    <input class="input-field" type="text" placeholder="Name" name="name">
		  </div>
		  <div class="input-container">
		    <i class="fa fa-key icon"></i>
		    <input class="input-field" type="number" placeholder="Your Age" name="age">
		  </div>
		  <div class="input-container">
		    <i class="fa fa-user icon"></i>
		    <input class="input-field" type="text" placeholder="A quote from you" name="message">
		  </div>
		  <button type="submit" class="btn">Give us your information... muhahahahaha</button>
		</form>
		 
	</body>
</html>